.zOverviewITB .sapMITBContent{
    padding: 0;
}
.zOverviewPanel .sapMPanelContent{
    padding: 0;
}
.zOverviewPanel .sapMListTblHighlightCol + .sapMListTblHeaderCell, .sapMListTblHighlightCell + .sapMListTblCell {
    padding-left: 0.5rem !important;
}
.zOverviewPanel .sapMListTblCell{
    padding: 0;
}
.zMTaskTextWMargin{
    font-weight: 700 !important;
    width: 100%;
    margin: .5rem 0;
}
.zOverviewPanel .sapMListTblSubCntRow{
    margin-top: 0;
}
.zOverviewPanelSubords .sapMListTblNavCol{
   display: none !important;
}
.zOverviewPanel .sapMListTblNavCol, .sapMLIBImgNav{
    width: 1.5rem !important;
    display: table-cell;
}
.zMSmallFont{
    font-size: 0.7rem;
}
.zMEvalProcTb{
    height: auto !important;
    margin: .5rem 0;
}
.zMEvalProcTb .sapMText {
    font-weight: 700;
}
.zBigTaskIcon{
    font-size: 1.5rem !important;
}
.zMFilterIcon{
    color: white;
    font-size: 1.6rem;
}
.zMFilterDialogContentBox{
    padding: 1rem;
}
.zMSmallText{
    font-size: 0.8rem;
}
.zMIconBlue{

}
.zMExpandButton{
    position: absolute;
    bottom: -20px;
    left: calc(50% - 16px);
}
.zMTopHeader{
    background-color:rgba(239, 244, 249, 1);
    padding: 0 0 15px 0;
    border-bottom: 2px solid rgba(209, 224, 237, 1);
}
.zMTabHeaderNameEvalProc {
    font-size: 13px;
    font-weight: 700 !important;
    color: #333333;
    white-space: pre-wrap;
}
.zMSaveBtn {
    font-weight: 700;
    height: 100%;
    color: white;
    background-color: #007cc0;
    border: #007cc0 1px solid;
}

.zMSaveBtn:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.zMSaveBtn .sapMBtnContent {
    display: inline-block;
}

.zMSaveBtn .sapMBtnIcon {
    font-size: 1.5rem;
    color: #ffffff;
}
/*- survey styles -*/

.zIndicRaterBlock{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
    padding: .5rem;
    margin-top: .5rem;
}

.zSegmButtonContainer{
    height: 2.5rem !important;
}

.zSegmButtonContainer .sapMSegBBtn{
    line-height: 1.1rem;
    white-space: normal;
    word-break: break-word;
    font-size: 0.8rem;
    height: 100%
}
.zhcm_Hap_650TbDeclineBtn .sapMBtnIcon{
    font-size: 1.5rem;
    color: rgb(204, 25, 25);
}
.zMCantEstimateBtn{
    width: 100%;
    height: 2rem;
}
.zMCantEstimateBtn .sapMBtnInner{
    background-color: #FFFFFF;
    color: #8c8b8b;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
html.sap-desktop .zMCantEstimateBtn .sapMToggleBtnPressed{
    background-color: #007cc0;
}
.zMCantEstimateBtn .sapMBtnInner.sapMToggleBtnPressed {
    color: #ffffff !important;
    background-color: #007cc0 !important;
}
.zMobSliderInput{
    position: absolute;
    top: -20px;
    right: 5%;
}

.zSliderInput.zMobSliderInput > input {
    height: 2rem !important;
}

.zMIndicDescr{
    width: 200px;
    margin-right: 1rem;
    color: rgb(66, 124, 172);
    font-size: 12px;
}